.header{
	height: 100px;
	background: #ccc;
	display: flex;
	flex-flow: column;
	justify-content: center;
}

.top-nav {
	&__list{
		@include media-breakpoint-up(md) {
			display: flex;
			align-items: center;
			margin: 0 10px;
		}
	}
	&__item{
		list-style: none;
		margin: 0 10px;
	}
	&__link{}
	&__sub-menu{}
	&__sub-item{}
	&__sub-link{}
}