- var href = 'javascript:void(0)';
- var img = 'data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7';
- var DATE = new Date();
- var time = DATE.getTime();
block vars
include components/_index
doctype html
html.no-js
	head
		meta(charset='utf-8')
		block title
			title dev
		meta(name='description' content='')
		meta(name='viewport' content='width=device-width, initial-scale=1')
		meta(name="theme-color" content="#373737")
		link(rel="shortcut icon" href="favicon.ico" type="image/x-icon")
		link(rel="icon" href="favicon.ico" type="image/x-icon")
		//- styles
		link(rel="stylesheet", href="styles/vendors.css")
		link(rel="stylesheet", href="styles/style.css?"+time)
		block style
		block script
	body
		// [if lte IE 9]>
			<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="//browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
			<![endif]
		.wrap-site(class=wrapClass)
			block header
				+header
			main.main
				block content
			block footer
				+footer
		.visuallyhidden(data-svg-path="img/theme/sprite.symbol.svg")
			//- include ../../dist/img/theme/sprite.symbol.svg
		script(src="//code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous")
		script.
			window.jQuery || document.write('<script src="vendors/jquery-2.2.4.min.js"><\/script>')
		script.
			(function(w){
				var v = !("IntersectionObserver" in w) ? "8" : "10";
				w.LazyLoad || document.write('<script src="vendors/lazyload_v' + v + '.min.js"><\/script>')
			}(window));
		script(src="vendors/delete-me.js")
		script(src="scripts/vendors.js")
		script(src="scripts/main.js?"+time)
		block scripts